@charset "utf-8";
/* CSS Document */
/*通用设置*/
*{

	margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;
	font-family: '宋体';
	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	background:url(../images/bodybg.gif)}
a{
	color:#522a06;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}


#header{
	width:100%;
	height:205px;
	background-image:url(../images/bg.gif);
	background-position:center;}
#banner{
	width: 1000px;
	height: 164px;
	text-align: center;
}
#banner img{
	margin-top: 38px;
	margin-right: 660px;
}
#nav{
	width:100%;
	height:40px;
	background:url(../images/nav.jpg);}
.nav_body{
	width: 1000px;
	text-align: center;
}
.nav_content{
	float:left;
	width:800px;
	font-weight:bolder;
	color:#FFF;}
.nav_content a{
	float: left;
	color:#FFF;
	width:75px;
	line-height:40px;
	font-weight:bold;
	text-align:center;}
.nav_content a:hover{
	color:#f9f603;
	text-decoration:none;}
.nav_content .shou a{
	color: #f9f603;
}
#col_wei{
	color:#f9f603;
	width:45px;}
#long{
	width:105px;}
.nav_search{
	width:190px;
	height: 19px;
	float:left;
	padding:10px 0;}
.nav_search .text input{
	width:140px;
	height:19px;
	float:left;
	border:1px solid #FFF;
	background-color:#f8f5ee;}
.search_btn input{
	width:44px;
	height:21px;
	float:left;
	background-color:#000;
	border:1px solid #f8f5ee;
	color:#FFF;}


.content{
	background:url(../images/bg.jpg);
	background-repeat:repeat;
	margin-bottom:10px;
	width:1000px}
.first{
	width:1000px;	
	overflow:hidden}

#content_top{
	margin-left: 200px;
	text-align: center;
	float: left;
}
.news_pic{
	background:url(../images/news_bg.png);
	background-repeat:no-repeat;
	width:324px;
	height:243px;
	float:left;
	margin-top:15px;
	overflow: hidden;
}
.news_pic .picture{ 
    position: relative; 
	width: 299px; 
	height: 200px; 
	overflow: hidden; 
	margin-top:10px;}
.news_pic a { 
    overflow: visible; 
	border: 0; 
	text-decoration: none;
	color: #fff; }
.news_pic .nav { 
    position: absolute; 
	height: 13px; 
	line-height: 14px; 
	top:415px;
	left: 385px;}
.news_pic .nav  span { 
    font-size: 12px; 
	font-weight: 400; 
	float: right; 
	display: block; 
	width: 24px; 
	text-align: center; 
	background: #666; 
	border-left: solid 1px #FFF; 
	cursor: pointer; }
#NewsPic .Nav span.Normal { 
    color: #FFF; 
	background: #000; 
	filter: Alpha(opacity=50); opacity: .5; }
.news_pic .nav span .cur { 
    background: #ce0609; 
	color: #FFF; }
.news_pic .text{ 
    position: relative; 
	width: 300px; 
	height: 22px; 
	margin: 0; 
	padding-top: 4px; 
	text-align: center; 
	font-family: Sans-Serif; 
	font-weight: 700;  
	font-size: 12px; 
	margin-left: auto;
	 margin-right: auto; 
	 margin-top: 3px; }
#NewsPicTxt a:link, #NewsPicTxt a:visited { 
     font-family: "Microsoft Yahei"; 
	 font-size: 12px; 
	 font-weight: 700;  
	 text-decoration: none; }
#NewsPicTxt a:hover {  
     text-decoration: underline;  }



#img{
	margin-left:15px;
	margin-top:15px;}
p{
	margin-top:5px;}
.news_list{
	float:left;
	margin-left:38px;
	margin-top:15px;
	width:330px;
}
.change ul{
	line-height:30px;

}
.change ul li{
	list-style: disc inside;
	text-align: left;
}
.change ul li span{
	float: right;
	color:#b70000;
}
.change_bg{
	background-repeat:no-repeat;
	width:330px;
	float:left;
	}

.news_announce{
	width: 277px;
	padding-top: 20px;
	float: right;
	margin-left:30px;
	height: 243px;
}
.words{
	width:330px;
	float:left;}
.words a{
	float:left;}
.time{
	float:right;
	color:#973f00}


.news_announce .board img{
	margin-top: 0px;
	}
.board_bg{
	background:url(../images/board_bg.png);
	width:277px;
	height:210px;
	margin-top:5px;}
.board_bg ul{
	line-height:28px;
	margin-left:5px;}
.board_bg ul li{
	list-style: disc inside;
	text-align: left;
}


#content_zhongjian{
	float: left;
	height: 100px;
	width: 1000px;
	margin-left: 200px;
	margin-bottom: 5px;
	margin-top: 5px;

}
#content_zhongjian .left{
	background: url(../images/ad.gif);
	background-repeat: no-repeat;
	width: 690px;
	height: 100px;
	float: left;
}
#content_zhongjian .right{
	background: url(../images/ad2.jpg);
	background-repeat: no-repeat;
	width: 280px;
	height: 100px;
	margin-left: 10x;
	float: right;
	margin-top: 5px;

}

#content_bottom_left{
	
	margin-left: 200px;
	text-align: center;
	float: left;

	width: 710px;
}
.academic{
	width: 340px;

	float: left;
}
.academic .images{
	background: url(../images/academic.png);
	background-repeat: no-repeat;
	height: 54px;
}
.academic .images span{
	float: right;
}
.academic ul{
	line-height:28px;
	margin-left:5px;
}
.academic ul li{
	list-style: disc inside;
	text-align: left;
}
.academic .list span{
	float: right;
	color:#b70000;
}
.academic1{
	width: 340px;

	float: left;
	margin-left: 20px;
}
.academic1 .images{
	background: url(../images/book_news.png);
	background-repeat: no-repeat;
	height: 54px;
}
.academic1 .images span{
	float: right;
}
.academic1 ul{
	line-height:28px;
	margin-left:5px;
}
.academic1 ul li{
	list-style: disc inside;
	text-align: left;
}
.academic1 .list span{
	float: right;
	color:#b70000;
}
.academic2{
	width: 700px;

	float: left;
	height: 210px;
}
.academic2 .images{
	background: url(../images/fengcai_bg1.png);
	background-repeat: no-repeat;
	height: 45px;
}
.academic2 .images span{
	float: right;}
.academic2 .list{
	background: url(../images/fengcai_bg2.png);
	background-repeat: no-repeat;
	width: 680px;
	height: 158px;
}
.academic2 .list .aa{
	margin-left: 20px; 
	margin-top:5px;
}
.academic2 .list ul li{
	float: left;
	margin: 3px;
}
.academic2 .list span{
	float: right;
	color:#b70000;
}


#content_bottom_right{
	background-repeat: no-repeat;
	width: 272px;
	
	float: left;
	margin-left: 20px;
	height: 400px;
}
#content_bottom_right .mingjia{
	margin-top: 14px;
	background-repeat: no-repeat;
	height:  35px;
	text-align: center;

}
#content_bottom_right .tupian{
	background: url(../images/show_bg.png);
	width: 272px;
	height:360px;
}
.tupian .img img{
	margin: 10px 25px;
}
#content_bottom_right .wenzi{
	margin:10px;
	line-height: 20px;
}
#content_bottom_right .wenzi span{
	color: red;
	font-weight: bold;
}
#content_bottom_right .images{
	margin-left: 10px;
}
#content_bottom_right .images span{
	float: right;
}


#cont{
	width: 1000px;
	height: 300px
	border:1px solid #ccc;
	float: left;
	margin-right: 0px;
}
#cont .jingdian{
	margin-top: 10px;
	height: 190px;
	width: 355px;
	
	margin-left: 200px;
	float: left;
}
#cont .jingdian .images{
	background: url(../images/jingdian.png);
	background-repeat:no-repeat;
	height: 35px;
	width: 355px; 
}
#cont .jingdian  span{
	color: #b70000;
	float: right;
	font-size: 12px;
	margin-top: 2px;
}
#cont .jingdian .list .aa{
	background-repeat: no-repeat;
	width: 355px;
	height: 158px;
}
#cont .jingdian .list ul li{
	float: left;
	margin: 3px;
	list-style: disc inside;
	text-align: left;
	line-height: 20px;
}
}
#cont .jingdian ul li span{
	float: right;
	color:#b70000;
}



#cont .jianyan{
	margin-top: 10px;
	height: 190px;
	width: 355px;
	
	margin-left: 10px;
	float: left;
}
#cont .jianyan .images{
	background: url(../images/hudong.png);
	background-repeat:no-repeat;
	height: 35px;
	width: 355px; 
}
#cont .jianyan  span{
	color: #b70000;
	float: right;
}
#cont .jianyan .list .aa{
	background-repeat: no-repeat;
	width: 355px;
	height: 158px;
}
#cont .jianyan .list ul li{
	float: left;
	margin: 3px;
	list-style: disc inside;
	text-align: left;
	line-height: 20px;
}
}
#cont .jianyan span{
	float: right;
	color:#b70000;
}

#cont .youqing{
	position: absolute;
	right: 150px;
	top: 1000px;
	
	width: 250px;
	margin-left: 10px;
	height: 190px;
	background: url(../iamges/link_bg.png);
	background-repeat: no-repeat;
}
#cont .youqing .images{
	margin-top: 10px;
	height: 40px;
	width: 250px;
	text-align: center;
}
#cont .youqing .list{
	height: 150px;
	width: 250px;
	margin: 5px;
	line-height: 30px;
}


#footer{
	background: url(../images/foot.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 105px;
	float: left;
}
#footer .aa{
	float:left;
	height: 20px;
	width: 480px;
	text-align: center;
	margin-left: 420px;
	margin-top: 20px;
}
#footer .aa ul li{
	float:left;
}
#footer .images{
	float: left;
	width: 300px;
	margin-top: 10px;
	margin-left: 400px;
}
#footer .cc{
	float: left;
	height: 20px;
	width: 1000px;

}
#footer .wenzi{
	text-align: center;
	height: 50px;
	float: left;
	margin-left: 480px;
	line-height: 25px;
}


