			#nav{
				width:1000px;
				font-size:12px;
			}
			#nav ul{
				width: 1000px;height: 70px;	
				list-style-type:none;
				padding:0px;
				margin:0px;
				overflow: hidden;
				background-image:url(images/menu_bg.png);
				z-index: 1;
				position: absolute;
				top: 20px;
			}
			#nav ul li{
				text-align:center;
				line-height: center;
				float:left;
				height: 50px;
				
				
			}
			#nav ul li a{
				width: 150px;
				text-decoration:none;
				margin-bottom: ;
				height:100px;
				line-height: auto;
				font-weight:bold;
				color:#330033;
				float:left;

			}
			#nav ul li a:hover{
				background-image:url(images/menu_bg1.png);
				background-repeat: no-repeat;
				color:#ffffff;
				font-weight:bold;
				z-index: 2；

			}
			img{
				
				position: relative;
				top: 12px;
			}