			#nav{
				width:1000px;
				font-size:12px;
				text-align: center;
			}
			#nav ul{

				width: 1000px;height: 60px;	
				list-style-type:none;
				padding:0px;
				margin:0px;
				margin-left: 10px; 
				overflow: hidden;
				background-image:url(images/menu_bg.png);
				z-index: 1;
				position: absolute;
				top: 20px;
				border: 1px solid #ccc;
			}
			#nav ul li{
				text-align:center;
				line-height: 60px;
				float:left;
				height: 60px;
				border: 1px solid #ccc;
				
			}
			#nav ul li a{
				width: 150px;
				text-decoration:none;
				margin-bottom: ;
				height:60px;
				line-height: auto;
				font-weight:bold;
				color:#330033;
				float:left;
				border: 1px solid #ccc;
			}
			#nav ul li a:hover{
				background:url(images/menu_bg1.png);
				background-repeat: no-repeat;
				color:#ffffff;
				font-weight:bold;
				z-index: 2；

			}
			img{
				
				position: relative;
				top: 12px;
			}